 <nav class="navbar navbar-expand-lg bg-light rounded sticky-top bg-body-tertiary" aria-label="Recipe Book">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#lider-navbar-menu"
            aria-controls="lider-navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-lg-flex" id="lider-navbar-menu">
            <a class="navbar-brand col-lg-3 " routerLink="/">Recipe Book</a>
            <ul class="navbar-nav col-lg-6">
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link active" aria-current="page" routerLink="/recipes">Recipes</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/shopping-list">Shopping List</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="/auth">Login</a>
              </li>
            </ul>
            <div class="d-lg-flex col-lg-3">
                <ul class="navbar-nav col-lg-6">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="cursor: pointer;" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Manage</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
                            <li><a class="dropdown-item" style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book!</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" (click)="onSelect('recipes')">Recipes</a></li>
                <li><a href="#" (click)="onSelect('shopping-list')">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Save Data</a></li>
                        <li><a href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
<!-- </div> -->
