<footer class="text-center">
  <div class="container p-4 pb-0">
    <section class="mb-4">

      <!-- Facebook -->
      <a mdbRipple class="btn btn-floating m-1" href="https://www.facebook.com/Lucky.St.Sandy" role="button" target="_blank">
        <img src="../assets/icon/icons8-facebook-32.png" alt="">
      </a>

      <!-- Linkedin -->
      <a mdbRipple class="btn btn-floating m-1" href="https://www.linkedin.com/in/oleksandr-stasiuk-1bb85b158/" role="button" target="_blank">
        <img src="../assets/icon/icons8-linkedin-32.png" alt="">
      </a>

      <!-- Github -->
      <a mdbRipple class="btn btn-floating m-1" href="https://github.com/sasha-engineer/" role="button" target="_blank">
        <img src="../assets/icon/icons8-github-32.png" alt="">
      </a>
    </section>
  </div>

  <div class="text-center footer-text">
    <p>&copy; {{ currentYear }} {{ autor }}</p>
  </div>
</footer>
