input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched{
  border: 1px solid red;
}

div>button {
  margin-right: 10px;
}

.div-img {
  display: flex;
  justify-content: center;
}

.fit-img {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  max-height: 200px;
}
