<div class="row">
  <div class="col-md-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="col-md-12">
        <div style="cursor: pointer;" (click)="onBack()">Go to Recipes</div>
        <div class="form-group mb-3 d-md-flex justify-content-md-end">
          <button type="submit" class="btn btn-outline-success" [disabled]="!recipeForm.valid">{{editMode ? 'Update' : 'Add to the Recipes'}}</button>
          <button type="button" class="btn btn-outline-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group form-floating mb-3">
            <input type="text" id="name" class="form-control" formControlName="name" placeholder="Name">
            <label for="name">Name</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group form-floating  mb-3">
            <input type="text" id="imagePath" class="form-control" formControlName="imagePath"
              placeholder="Image URL..."
              #imagePath>
            <label for="imagePath">Image URL</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-3 text-center">
          <img [src]="imagePath.value" class="img-responsive" id="imgView">
          <p class="text-center" *ngIf="!imagePath.value">Image Preview</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-floating form-group mb-3">
            <textarea type="text" id="description" class="form-control" style="height: 100px" rows="6" formControlName="description"
              placeholder="description"></textarea>
            <label for="description">Description</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" formArrayName="ingredients">
          <div class="row"
          *ngFor="let ingredientCtrl of ingredientControls; let i = index"
          [formGroupName]="i">
            <div class="input-group form-group">
              <input type="text" class="form-control" formControlName="name" placeholder="Ingredient name">
              <input type="number" class="form-control" formControlName="amount" placeholder="Amount">
              <button class="btn btn-outline-danger" type="button" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <button class="btn btn-outline-success" type="button" (click)="onAddIngredient()">Add ingredient</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
