<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="alert alert-danger fade" *ngIf="errorMessage">
      <p> {{errorMessage}} </p>
    </div>

    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group col-md-6">
        <div class="form-floating mb-4">
          <input type="email" id="email" class="form-control" ngModel name="email" required email placeholder="email" />
          <label for="email">E-Mail</label>
        </div>
      </div>
      <div class="form-group col-md-6">
        <div class="form-floating mb-4">
          <input type="password" id="password" class="form-control" ngModel name="password" required minlength="6"
            placeholder="password" />
          <label for="password">Password</label>
        </div>
      </div>
      <div>
        <button class="btn btn-outline-success" type="submit">{{ isLoginMode ? 'Login' : 'Sign Up' }}</button>
        <button class="btn btn-outline-primary" type="button" (click)="onSwitchMode()">Switch to {{ isLoginMode ?
          'Sign Up' : 'Login' }}</button>
      </div>
    </form>
  </div>
</div>
