app-root {
  background: #fafcfc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px
}

header.masthead {
  margin-bottom: 10px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 8%);
  opacity: .5
}

header.masthead .site-heading {
  padding: 100px 0 100px;
  color: #faaa42;
}

@media only screen and (min-width: 768px) {
  header.masthead .site-heading {
    padding: 100px 0
  }

  header.masthead .site-heading h1 {
    font-size: 50px
  }
}

header.masthead .site-heading {
  text-align: right;
}

header.masthead .site-heading h1 {
  font-size: 54px;
  margin-top: 0;
  text-align: left;
}

header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

header.masthead .subheading {
  line-height: 1.1;
  display: block;
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
}

@media only screen and (min-width: 768px) {
  header.masthead .subheading {
    font-size: 30px
  }
}

.single-title.post-title.is-big-title {
  top: min(8vw, 25vh);
  right: 7%;
  z-index: 999;
  text-align: -webkit-right;
}

.single .post-title.single-title {
  font-size: 32px;
}

.entry-title {
  font-size: 3vw !important;
  font-family: 'Domine', serif;
  font-weight: bolder !important;
  line-height: 1.1 !important;
  display: block !important;
  margin-bottom: min(2vw, 3vh) !important;
  color: #003e47;
}


/* Book */
.body-book {
  background-color: #4F4E68;
}

.book {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 19rem;
  height: 15rem;
  perspective: 70rem;
}

.cover {
  background-color: #36354e;
  transform: rotateY(0deg);
  width: 10rem;
  height: 18rem;
}

.page {
  top: 0.25rem;
  left: 0.25rem;
  background-color: #e9e6c4;
  transform: rotateY(0deg);
  width: 9.5rem;
  height: 17.5rem;
  text-align: left;
  font-size: 8px;
  color: #777;
  font-family: monospace;
}

.page::before,
.page::after {
  display: block;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
  content: "";
  padding-bottom: 1rem;
}

.cover,
.page {
  position: absolute;
  padding: 1rem;
  transform-origin: 100% 0;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2),
    0px 0px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.cover.turn {
  animation: bookCover 2.5s forwards;
}

.page.turn {
  animation: bookOpen 3s forwards;
}

.page:nth-of-type(1) {
  animation-delay: 0.15s;
}

.page:nth-of-type(2) {
  animation-delay: 0.33s
}

.page:nth-of-type(3) {
  animation-delay: 0.66s;
}

.page:nth-of-type(4) {
  animation: bookOpen150deg 2.5s forwards;
  animation-delay: 1.2s;
}

.page:nth-of-type(5) {
  animation: bookOpen30deg 2.5s forwards;
  animation-delay: 1.5s;
}

.page:nth-of-type(6) {
  animation: bookOpen55deg 2.5s forwards;
  animation-delay: 1.55s;
}

@keyframes bookOpen {
  30% {
    z-index: 999
  }

  100% {
    transform: rotateY(180deg);
    z-index: 999;
  }
}

@keyframes bookCover {
  30% {
    z-index: 999
  }

  100% {
    transform: rotateY(180deg);
    z-index: 1;
  }
}

@keyframes bookOpen150deg {
  30% {
    z-index: 999
  }

  100% {
    transform: rotateY(150deg);
    z-index: 999;
  }
}

@keyframes bookOpen55deg {
  30% {
    z-index: 999
  }

  100% {
    transform: rotateY(55deg);
    z-index: 999;
  }
}

@keyframes bookOpen30deg {
  50% {
    z-index: 999
  }

  100% {
    transform: rotateY(30deg);
    z-index: 999;
  }
}
