<app-header *ngIf="isBookLoaded"></app-header>

<header *ngIf="isBookLoaded" class="masthead" style="background-image: url('./assets/header/tomato-soup-wooden-board.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">
        <div class="site-heading">
         <!--  <h1>Good Cook Book</h1> -->
        </div>
        <div class="single-title post-title is-big-title">
          <h2 class="entry-title">Make Your Own Recipe Book</h2>
          <h2 class="entry-title">Bon Appetit</h2>
          <div class="banner_text"></div>
        </div>
      </div>
    </div>
  </div>
</header>

<router-outlet *ngIf="isBookLoaded"></router-outlet>


<div class="body-book" *ngIf="!isBookLoaded">
<div class="book">
 <span class="page turn"></span>
  <span class="page turn"></span>
  <span class="page turn"></span>
  <span class="page turn"></span>
  <span class="page turn">
    My favourit recipes:
    <p>
      Here are the top 3 recipes
    </p>
  </span>
  <span class="cover">Published in Kyiv</span>
  <span class="page">Page simple</span>
  <span class="cover turn" style="color:aliceblue">Recipe Book Cook</span>
</div>
</div>
