.item-card {
  box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb),.15)!important;
  margin: 0.3rem auto;
  max-height: 25rem auto;
  border-bottom: 1.5px solid #ff8229;
  cursor: pointer;
}

.item-img {
  max-width: 10rem;
}

.card-body {
  padding: 2px;
}

.card {
  --bs-card-border-color: unset;
  --bs-card-border-radius: unset;
}

.text-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
