<div class="card mb-3 item-card rounded" routerLinkActive="active">
  <div class="row g-0 justify-content-center align-items-center">
    <div class="col-sm-12">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="flex-shrink-0">
            <img [src]="recipeItem.imagePath" class="item-img">
          </div>
          <div class="flex-grow-1 ms-3">
            <h5 class="card-title">{{recipeItem.name}}</h5>
            <p class="card-text">{{recipeItem.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
