<div class="row">
  <div class="col-xs-12">
    <div class="header-title-section">
      <span class="header-title">Your Recipes</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div>
      <button class="btn btn-outline-success" [routerLink]="['new']">New Recipe</button>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12 list-group">
    <app-recipe-item [routerLink]="['/recipes/your', item.id]" *ngFor="let item of recipes" [recipeItem]="item">
    </app-recipe-item>
  </div>
</div>
