div>button.btn,
div>input.form-control,
div>label.form-control {
  margin-top: 15px;
  margin-bottom: 10px;
}

.root-boody {
  background: #fafcfc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
