/* You can add global styles to this file, and also import other style files */
div>button.btn,
div>input.form-control,
div>label.form-control {
  margin-top: 15px;
  margin-bottom: 10px;
}

.body {
  background: #ccc;
}
