div>button.btn,
div>input.form-control,
div>label.form-control {
  margin-top: 15px;
  margin-bottom: 10px;
}

.root-boody {
  background: #fafcfc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: gray;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.header-title {
  padding: 15px 0 20px;
  color: #ea8b0f;
  font-size: 26px;
  font-weight: 600;
}

.header-title-section {
  margin: 15px 0 10px;
}

xng-breadcrumb {
  font-size: 12px;
  line-height: 18px;
}

a.xng-breadcrumb-link{
  color: rgb(9, 105, 218);
  display: inline-block;
  font-size: 12px;
  text-decoration: none;
}
